.gantt_task_line{
    /*opacity: 0.8;*/
}
.gantt_task_line.project{
     background: #3576cc;
}

.gantt_task_line.project .gantt_task_progress{
    background: #c1cc4d;
}
/* new issue */
.gantt_task_line.new_issue{
    background: #1e90ff;
}

.gantt_task_line.new_issue .gantt_task_progress{
    background: #1a6ec7;
}

/* in progress issue */
.gantt_task_line.in_progress_issue{
    background: #ffdead;
}

.gantt_task_line.in_progress_issue .gantt_task_progress{
    background: #c3a784;
}
/* callback issue */
.gantt_task_line.callback_issue{
    background: #f78350;
}

.gantt_task_line.callback_issue .gantt_task_progress{
    background: #b45d3a;
}

/* rejected issue */
.gantt_task_line.rejected_issue{
    background: #cd0000;
}

.gantt_task_line.rejected_issue .gantt_task_progress{
    background: #9b0000;
}

/* agreed issue */
.gantt_task_line.agreed_issue{
    background: #556b2f;
}

.gantt_task_line.agreed_issue .gantt_task_progress{
    background: #3c4f26;
}

/* canceled issue */
.gantt_task_line.canceled_issue{
    background: #bebebe;
}

.gantt_task_line.canceled_issue .gantt_task_progress{
    background: #9d9d9d;
}

.gantt_tooltip{
    /*position: fixed;*/
}

/* solved issue */
.gantt_task_line.solved_issue{
    background: #2e8b57;
}

.gantt_task_line.solved_issue .gantt_task_progress{
    background: #24693f;
}

/* closed issue */
.gantt_task_line.closed_issue{
    background: #8b8682;
}

.gantt_task_line.closed_issue .gantt_task_progress{
    background: #67625e;
}

.gantt_loader{width: 100%; height: 200px; background: url('/plugin_assets/redmine_advanced_gantt/images/ajax-loader.gif') no-repeat center center}




.gantt_task_line.version .gantt_task_content{
    background: #c6cc37 !important; /* opacity: 0.8;*/
}

.weekend{ background: #f7f2f3 !important; /* opacity: 0.8; */}

.weekend.past_simple{ background: rgba(247,236,231,0.5) !important;}
.past_simple{ background: rgba(227,240,247,0.5) !important; /* opacity: 0.8; */}


.gantt_hor_scroll{
    position: fixed;
    bottom: 0px;
}

.gantt_side_content.gantt_right{
    top: 0px;
}

.splitter{
    border-left: 2px solid red;
}

.gantt_task_progress, .gantt_task_line{ border: none; border-right: none; box-shadow: none; }

.gantt_grid_data .gantt_row.odd, .gantt_grid_data .gantt_cell{ background-color: #FFFAF0;}

.gantt_tree_avatar img{
    width: 16px;
    height: 16px;
    cursor: pointer;
}


.gantt_tree_tooltip{
    position:absolute;
    z-index:999;
    left:-9999px;
    padding:0px;
    border: 1px solid #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    width:100px;
    height: 100px;
}

.gantt_tree_tooltip p{
    /*background: #003377;*/
    margin:0;
    padding:0;
    color:#fff;
    padding:0px 0px;

    /*opacity: 1.5;*/
}

/*p.gantt-zoom-tasks-inputs{
    margin-top: -50px !important;
}*/
table.gantt_grid, table.gantt_grid tr, table.gantt_grid td, table.gantt_grid th  {
    padding: 0;
}

table.gantt_grid {
    border:0px;
    padding:0;
    border-collapse:collapse;
    background-color: transparent;
}

.gantt_grid thead{
    background: #D6D6D6;
}


.gantt_row{
    padding: 0px;
}

.icon-print{
    background: url('/plugin_assets/redmine_advanced_gantt/images/printer.png') no-repeat left;
}

.gantt_container{
    border: none !important;
}

.gantt_cell, .gantt_grid_head_cell{
    /*display: table-cell;*/
    overflow: hidden !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.gantt_container_table{
    width: 100%;
}



